@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --container-width:1270px;
    --container-padding:15px;
    --secondary:rgba(15, 31, 28, 0.5);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#F6F6F6;
    color:#0F1F1C;
}
*{
    box-sizing: border-box;
}
.none{
    display: none !important;
}
.container{
   max-width: var(--container-width);
   padding: 0 var(--container-padding);
   margin: 0 auto;
}
.container-right{
    padding-left: calc( (100% - var(--container-width) ) /2 + var(--container-padding));
}


/* header */
.header{
    padding-top: 44px;
    min-height: 940px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    position: relative;
    width: 100%;
    overflow: hidden ;
}
.header__img-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
.header__top{
    margin-bottom: 86px;
    position: relative;
    z-index: 1000;
}


/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}
.navbar__logo a{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.nav__list{
    display: flex;
    align-items: center;
    column-gap: 80px;

    font-size: 15px;
    font-weight: 500;
}
.nav__list-item{
    position: relative;
    cursor: pointer;
}
.nav__list-item:after{
    content: "";
    display: block;
    height: 4px;

    background-color: #C4C4C4;
    border-radius: 100px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: -6px;
    z-index: 1;
    opacity: 0;

    transition: .3s linear;
    cursor: pointer;
}
.nav__list-item:hover:after{
    opacity: 1;
}
.nav__login-item{
    color:#fff;
    display: inline-block;
    margin-right: 25px;

}
.nav__login-item:last-child{
    margin-right: 0;
}


/* button */
.btn{
    padding:15px 43px;
    border-radius:100px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;

    font-size: 15px;
    font-weight: 500;
    
    transition: .3s ease-out ;
    position: relative;
    
    display: inline-block;

}
.btn:hover{
    color: #eed623;
    position: relative;
    top: 1px;
}

/* content */
.header__content{
    max-width: 592px;
    color: #fff;
    position: relative;
    z-index: 1000;
}
.header__suptext{
    display: inline-block;
    padding:11px 31px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    margin-bottom: 19px;
}
.header__text{
    font-size: 55px;
    line-height: 88px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header__subtext{
    color:#fff;
    opacity: 0.5;
    font-size:25px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 68px;
}
.header-btn{
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}
.header__wrapper{
    display: flex; 
}
.header__img{
    position: relative;
    flex-grow: 1;
}
.header__img img{
    max-width: unset;
    width:894px;
    height: 940px;
    position: absolute;
    top: -184px;
    right: -190px;
    z-index: 1;
}

/* destinations */
.destinations{
    overflow-x: hidden;
    padding: 96px 0 100px;
}
.dest__inner{
    display: flex;
    column-gap: 80px;
}
.dest__suptitle{
    font-weight: 600;
    font-size: 30px;
    line-height: 66px;
}
.dest__title{
    font-weight: 600;
    font-size: 55px;
    line-height:82.5px;
}
.dest__text{
    font-weight: 500;
    font-size: 25px;
    line-height: 37.5px;
    color: #0F1F1C ;
    opacity: 0.5; 
    margin-bottom: 60px;
    width: 456px;
}
.dest__btn{
    color: #fff;
    display: inline-block;
    padding:25px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    cursor: pointer;
    border-radius: 27px;

    font-weight: 600;
    font-size: 20px;
    transition: ease-out .3s ;
    line-height: 30px;
    position: relative;
}
.dest__btn:hover{
    color: #eed623;
    top: 1px;
}


/* slider */
.dest__slider{
    position: relative;
    width: 1140px;
    flex-shrink: 0;
    height: 456px;
    margin-bottom:100px;
}
.slider__item{
    width: 335px;
    height: 402px;
    object-fit:cover ;
    border-radius: 35px;
    transition:  .3s ease-in-out;

    margin-top: 27px;
}
.slider__item.active{
    width: 380px;
    height: 456px;
}
.dest__slider .center .slider__item{
    width: 380px;
    height: 456px;
    margin-top: 0; 
}
.slider__btn{
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.slider__btn-prev{
    position: absolute;
    top: 50%;
    left: -27px;
    transform: translateY(-50%);
    z-index: 10;

}
.slider__btn--next{
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    z-index: 10;
}

/* customers */
.customers__inner{
    display: flex;
    column-gap: 80px;
}
.customers__photo{
    margin-bottom: 233px;
}
.customers__img{
    border-radius: 77px;
}
.review__inner__title{
    color: #0F1F1C; 
    font-size: 45px;
    font-weight: 500;

    max-width: 565px;
    margin-bottom: 35px;
}
.review__img{
    width: 134px;
    height: 134px;
    display: block;
    background: #FF7B4E;
    border-radius: 77px;
    margin-bottom: 60px;
}
.review__wrapper{
    display: flex;
    align-items: center;
    column-gap: 33px;
}
.about__name{
    font-size: 33px;
    font-weight: 500;
    color: #0F1F1C;
}
.about__country{
    font-weight: 400;
    font-size: 25px;
    opacity:0.5
}
.review__title{
    font-weight: 500;
    opacity: 0.5;
    font-size: 22px;
    line-height: 33px;
    max-width: 491px;
    margin-bottom: 30px;
}

/* calltoaction */
.calltoaction{
    width: 100%;
    max-width: 1240px;
    background: #fff;
    margin: 0 auto;
    height: 581px;
    border-radius: 60px;

    position: relative;
    margin-bottom: 135px;
}
.cta__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 581px;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    
}
.cta__text{
    font-weight: 500;
    font-size: 45px;
    color: #0F1F1C;
    margin-bottom: 30px;
    line-height: 67.5px;
    max-width: 519px;
}
.cta__subtext{
    color:#0F1F1C;
    font-weight: 400;
    font-size: 30px;
    opacity: 0.5;
    margin-bottom: 60px;
    max-width: 730px;
}
.cta__btn{
    display:inline-block;
    padding:25px 54px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;

    color: #fff;
}
.cta01{
    position: absolute;
    top: 74px;
    right: 80px;
    z-index: 1;
}
.cta02{
    position: absolute;
    bottom: 56px;
    left: 74px;
}

/* subscribe */
.subscribe__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subscribe__title{
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 60px;
}
.subscribe-form{
    border-radius: 35px;
    background-color: #fff;
    padding: 12px 15px 12px 46px;
}